{% set daily_task = task.dailyTask %}
{% if daily_task and daily_task.isActive %}
    {% set progress = daily_task.progress %}
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    {% if daily_task.isExpired %}
        <p>{{ 'Next deadline : {time}'|t('site', {time: task.nextDeadline|date('d/m/Y H:i', currentUser.timezone)}) }}</p>
    {% else %}
        <p>{{ 'Next deadline : today at {time}'|t('site', {time: task.todayDeadline|date('H:i', currentUser.timezone)}) }}</p>
    {% endif %}
{% endif %}