# The environment Craft is currently running in ("local", dev", "staging", "production")
CRAFT_ENVIRONMENT=local

# The application ID used to to uniquely store session and cache data, mutex locks, and more
CRAFT_APP_ID=

# The secure key Craft will use for hashing and encrypting data
CRAFT_SECURITY_KEY=

# The database driver that will be used ("mysql" or "pgsql")
CRAFT_DB_DRIVER="mysql"

# The database server name or IP address
CRAFT_DB_SERVER="db"

# The port to connect to the database with
CRAFT_DB_PORT="3306"

# The name of the database to select
CRAFT_DB_DATABASE="db"

# The database username to connect with
CRAFT_DB_USER="db"

# The database password to connect with
CRAFT_DB_PASSWORD="db"

# The database schema that will be used (PostgreSQL only)
CRAFT_DB_SCHEMA="public"

# The prefix that should be added to generated table names (only necessary if multiple things are sharing the same database)
CRAFT_DB_TABLE_PREFIX=""

#Must point to the .composer and be an absolute path
COMPOSER_HOME=/var/www/.composer

#Your php executable
PHP_PATH=php8.1
	
#Primary site url
PRIMARY_SITE_URL="https://autonomy.ddev.site"

#Google captcha site key
RECAPTCHA_SITE_KEY=""

#Google captcha secret key
RECAPTCHA_SECRET_KEY=""

#Emails settings
EMAIL_HOST="localhost"
EMAIL_PORT="1025"
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_AUTHENTICATION=0
EMAIL_ENCRYPTION=none

#Live email settings
#EMAIL_HOST="ssl0.ovh.net"
#EMAIL_PORT="465"
#EMAIL_USERNAME="boris@puzzlers.run"
#EMAIL_PASSWORD="mZ2qWe65wXVm9D8"
#EMAIL_AUTHENTICATION=1
#EMAIL_ENCRYPTION=tls

SENTRY_DSN=
SENTRY_RELEASE=1