#app
/.env
error_log
npm-debug.log
/web/*
!/web/.htaccess
!/web/index.php
!/web/favicon.ico
/config/license.key

#SSH
/.ssh

#misc
/.idea
.DS_Store
400.shtml
401.shtml
403.shtml
404.shtml
413.shtml
500.shtml
cp_errordocument.shtml

#node
/node_modules/
/npm_debug.log

#mast-mcp
/mast-mcp/node_modules/

#contracts
/contracts/node_modules/
/contracts/artifacts/
/contracts/cache/

#composer
/vendor/
/.composer/

#cpanel
/php.ini
/.htaccess
/.user.ini
/.php-ini
/.php-version