a {
    transition: color 0.3s;
    &:hover {
        text-decoration: none;
    }
}

img {
    display: inline-block;
    max-width: 100%;
    text-align: center;
    height: auto;
}

.grecaptcha-badge {
    display: none;
}

#global-messages {
    bottom: 10px;
    right: 10px;
    z-index: 1056;
}

#current-timer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1056;
}

#login-form,
#add-task-form,
#signup-form {
    width: 400px;
    max-width: 100%;
}

#noscript-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(140, 140, 140, 0.7);
    .content{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border-radius: 15px;
        padding: 10px 20px;
        font-size: 20px;
        min-width: 300px;
    }
}