{% set password_set = craft.app.request.getQueryParam("password-set") %}
{% set email_verified = craft.app.request.getQueryParam("verified") %}
{% set registered = craft.app.request.getQueryParam("registered") %}

{% if password_set %}
    <div class="container">
        <div class="alert alert-success">
            {{ 'Your password has been reset, please login'|t }}
        </div>
    </div>
{% endif %}
{% if email_verified %}
    <div class="container">
        <div class="alert alert-success">
            {{ 'Your account is now verified, please login'|t }}
        </div>
    </div>
{% endif %}
{% if registered %}
    <div class="container">
        <div class="alert alert-warning">
            {{ 'Your account has been created, please check your email inbox to activate it'|t }}
        </div>
    </div>
{% endif %}

<div class="container d-flex justify-content-center">
   {% include "_includes/user/login-form" %}
</div>
