{% extends "_layouts/entry" %}
{% requireLogin %}

{% set requires_valid_paymentmethod = true %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\AnalyticsPage') %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">{{ entry.title }}</h1>
        <div id="analytics">
            <analytics :today="'{{ currentUser.today|date('Y-m-d') }}'" :last-week="'{{ currentUser.today|date_modify('-1 week')|date('Y-m-d') }}'" :last-year="'{{ currentUser.today|date_modify('-1 year')|date('Y-m-d') }}'"></analytics>
        </div>
    </div>
{% endblock %}