{% extends "_layouts/entry" %}
{% requireLogin %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\BreaksPage') %}

{% do craft.puzzlers.registerJsTranslations('site', [
    'Show past breaks',
    'You have no breaks defined yet',
    'This will delete the break, are you sure ?',
    'Delete break',
    'Close',
    'Delete',
    'Break deleted',
    'Could not delete break',
    'Edit break',
    'Add break',
    'Start date',
    'Title',
    'End date',
    'Save',
    'Break saved'
]) %}

{% block content %}
    <div class="container">
        
        <div id="breaks-list">
            {% set section = craft.app.sections.getSectionByHandle('break') %}
            <breaks-list :title="'{{ entry.title }}'" :section-id="{{ section.id }}"></breaks-list>
        </div>
    </div>
{% endblock %}