{% extends "_layouts/entry" %}
{% requireLogin %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\TasksPage') %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{{ entry.title }}</h1>
        <div class="d-flex justify-content-center">
            {% include "_includes/user/account-form" %}
        </div>
    </div>
{% endblock %}