{% extends "_layouts/matrix-content" %}
{% requireLogin %}

{% block after_content_matrix %}
    <div class="container">
        <h1 class="text-center">{{ entry.title }}</h1>
        <div class="d-flex justify-content-center">
            {% include "_includes/user/account-form" %}
        </div>
    </div>
{% endblock %}