{% extends "_layouts/entry" %}
{% requireLogin %}

{% set requires_valid_subscription = true %}
{% set max_tasks_inactive_subscription = 3 %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\AddTaskPage') %}

{% set copy_id = craft.app.request.getQueryParam("copy") %}
{% if copy_id %}
    {% set task_copied = craft.entries.section('task').authorId(currentUser.id).id(copy_id).one() %}
    {% if not task is defined %}
        {% set task = task_copied %}
    {% endif %}
{% endif %}

{% set count = craft.entries.section('task').anyStatus().authorId(currentUser.id).count() %}

{% block content %}
    <div class="container container-small">
        <div class="mb-3">
            <a href="/tasks" class="text-purple2"><i class="fa-solid fa-arrow-left"></i> {{ 'Back'|t }}</a>
        </div>
        <h1 class="text-center">
            {% if copy_id %}
                {{ 'Copy task "{title}"'|t('site', {title: task_copied.title}) }}
            {% else %}
                {{ entry.title }}
            {% endif %}
        </h1>
        {% if currentUser.subscriptionStatus != 'active' and count >= 3 %}
            {{ entry.invalidSubscriptionMessage }}
        {% else %}
            {% include "_includes/tasks/form" %}
        {% endif %}
    </div>
{% endblock %}