{% extends "_layouts/entry" %}
{% requireLogin %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\AddTaskPage') %}

{% block content %}
    <div class="container container-small">
        <div class="mb-3">
            <a href="/tasks" class="text-purple2"><i class="fa-solid fa-arrow-left"></i> {{ 'Back'|t }}</a>
        </div>
        <h1 class="text-center">{{ entry.title }}</h1>
        <div class="d-flex justify-content-center">
            {% include "_includes/tasks/form" %}
        </div>
    </div>
{% endblock %}