{% extends "_layouts/matrix-content" %}
{% requireLogin %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\TasksPage') %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{{ entry.title }}</h1>
        <a href="/tasks/new" class="btn btn-primary">{{ 'New task'|t }}</a>
        <h2 class="my-3 text-center">{{ "Today's tasks"|t }}</h2>
        {% set tasks = currentUser.getTodaysTasks %}
        {% if tasks %}
            <div class="row">
                {% for task in tasks %}
                    <div class="col-12 col-md-3 my-2">
                        {% include "_includes/tasks/square" %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>{{ 'You have no tasks today'|t }}
        {% endif %}
    </div>
{% endblock %}