{% extends "_layouts/matrix-content" %}
{% requireLogin %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\TasksPage') %}

{% block content_title %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>{{ entry.title }}</h1>
            <a href="/tasks/new"><i class="fa-solid fa-plus fs-3 text-body"></i></a>
        </div>
    </div>
{% endblock %}

{% block after_content_matrix %}
    <div class="container">
        {% set tasks = craft.entries.section('task').authorId(currentUser.id).orderBy('order').all() %}
        {% if tasks %}
            <div class="row" id="sortable">
                {% for task in tasks %}
                    <div class="col-12 col-md-3 py-3 task-wrapper">
                        {% include "_includes/tasks/square" %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>{{ 'You have no tasks yet'|t }}</p>
        {% endif %}
    </div>
{% endblock %}