{% extends "_layouts/entry" %}
{% requireLogin %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\TasksPage') %}

{% block content %}
    <div id="tasks">
        <tasks-header
            :on-unlimited-break="{{ currentUser.isOnUnlimitedBreak() ? 'true' : 'false' }}"
            :on-scheduled-break="{{ currentUser.isOnScheduledBreak(now) ? 'true' : 'false' }}"
            :hide-inactive-tasks="{{ currentUser.hideInactiveTasks ? 'true' : 'false' }}"
            :csrf-token="'{{ craft.app.request.csrfToken }}'"
        >
        </tasks-header>
        <tasks></tasks>
    </div>
{% endblock %}