{% extends "_layouts/matrix-content" %}
{% requireLogin %}

{% do craft.app.view.registerAssetBundle('themes\\front\\assets\\TasksPage') %}

{% block after_content_matrix %}
    <div class="container">
        <a href="/tasks/new" class="btn btn-primary mb-4">{{ 'New task'|t }}</a>
        {% set tasks = craft.entries.section('task').authorId(currentUser.id).orderBy('order').all() %}
        {% if tasks %}
            <div class="row" id="sortable">
                {% for task in tasks %}
                    <div class="col-12 col-md-3 py-3 task-wrapper">
                        {% include "_includes/tasks/square" %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% include "_includes/tasks/delete-modal" %}
{% endblock %}