{% if currentUser %}
    <div class="toast bg-warning text-white border-0 {% if currentUser.timerStarted %}show{% endif %}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-body d-flex justify-content-between">
            {% if currentUser.timerStarted %}
                {% set task = currentUser.timerTask.one() %}
                <div>
                    {{ 'Working on {task} since {time}'|t('site', {
                        task: task.title,
                        time: currentUser.timerStarted|date('H:i')
                    }) }}
                </div>
                <a href="#" class="js-toggle-timer" data-task-id="{{ task.id }}">
                    <i class="fa-solid fa-stop"></i></a>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}