form {
    .instructions {
        color: $gray-600;
        font-size: 80%;
    }
    label.required::after {
        content: "*";
        color: $danger;
    }
    .invalid-feedback {
        display: block;
    }
    .datepicker[readonly] {
        background-color: unset;
    }
    .is-invalid.no-error-icon {
        background-image: unset;
        padding-right: 0.75rem;
    }
}

.grecaptcha-badge {
    display: none !important;
}