.task {
    cursor: pointer;
    background: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 12px !important;
    .if-active,
    .if-status-complete,
    .if-status-active {
        display: none;
    }
    &[data-timer-started="1"] {
        border-style: dashed !important;
    }
    &[data-active="1"] {
        .if-active {
            display: block;
        }
    }
    &[data-status="inactive"] {
        border-color: $task-inactive;
    }
    &[data-status="active"] {
        border-color: $task-active;
        .if-status-active {
            display: block;
        }
    }
    &[data-status="expired"] {
        border-color: $task-expired;
    }
    &[data-status="complete"] {
        border-color: $task-complete;
        .if-status-complete {
            display: block;
        }
    }
    &[data-status="derailed"] {
        border-color: $task-derailed;
    }
    .complete-tick {
        position: relative;
        .fa-check::after {
            content: "";
            border: 1px solid $body-color;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            position: absolute;
            left: -5px;
            top: -1px;
        }
    }
    .task-icon {
        max-width: 30px;
        max-height: 30px;
        margin-right: 5px;
    }
}

@include media-breakpoint-up(md) {
    .task-wrapper {
        &:nth-child(4n+1) {
            padding-left: 0;
        }
        &:nth-child(4n) {
            padding-right: 0;
        }
    }

    #sortable {
        padding: 0 calc(var(--bs-gutter-x) * 0.5);
    }
}